<h1><%= link_to @chapter.book_name, book_path(@chapter.book) %></h1>
<h2><%= @chapter.name %></h2>
<ul>
  <% @puzzles.each do |puzzle| %>
    <li>
      <%= link_to puzzle.id, puzzle_path(puzzle) %>
      <div class="board" id="<%= puzzle.id %>" start-position="<%= puzzle.position %>" to-move="<%= puzzle.to_move %>" style="width: 180px"></div>
    </li>
  <% end %>
</ul>
<%= javascript_include_tag "chess/chapter" %>
