<div id="board" start-position="<%= @puzzle.position %>" fen="<%= @puzzle.fen %>" to-move="<%= @puzzle.to_move %>" solution="<%= @puzzle.answer.join(":") %>"style="width: 400px"></div>
<p><%= puzzle_status(@puzzle.to_move) %></p>
<%= link_to "Previous", puzzle_path(@puzzle.previous) if @puzzle.previous %>
<%= link_to "Next", puzzle_path(@puzzle.next) if @puzzle.next %>
<%= javascript_include_tag "puzzles/show" %>
